<div class="container main_container">
    <div class="row">
        <div class="col s12 welcome center">
            <h1>Welcome!</h1>
        </div>
        <div class="col s12 center">
            <button data-target="modal1" class="waves-effect waves-light btn-large red modal-trigger" id="add_new_workout">Add New Workout</button>
            <button data-target="modal2" class="waves-effect waves-light btn-large red modal-trigger" id="continue_workout">Continue Workout</button>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Add New Workout</h4>
            <form>
                <input type="text" id="submit_workout_name">
                {{#each exercises}}
                    <p>
                    <label>
                        <input type="checkbox" class="submit_workout_checkbox" data-id="{{ _id }}" />
                        <span>{{ name }}</span>
                    </label>
                    </p>
                {{/each}}
            </form>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-light btn red" id="submit_add_new">Submit</button>
        </div>
    </div>

    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <button class="waves-effect waves-light btn red modal-close" id="submit_continue">Submit</button>
        </div>
    </div>

    <hr>

    {{!-- <div class="row">
        <div class="col s0 m2 l3"></div>
        <div class="col s12 m8 l6">
            <h3 class="workout_header">workout name</h3>
            <button class="waves-effect waves-light btn red modal-close" id="delete_workout">Delete</button>
        </div>
        <div class="col s0 m2 l3"></div>
    </div> --}}
</div>