body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h3.workout_header {
    margin-top: 0px;
    float: left;
    display: inline-block;
}

button#delete_workout {
    margin-top: 8px;
    margin-left: 18px;
}

#workouts_select {
    display: block;
}

p.modal1_checkbox {
    margin: 2px;
}

.modal1_header {
    margin: 0;
}

#workout_form {
    display: none;
    width: 100%;
}

.top_header {
    margin-left: 5px;
}