body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#workout_form {
    display: none;
    width: 100%;
}

.top_header {
    margin-left: 5px;
}